$input-border-rad: .25em;
$info-text: 0.8em;
$heading-text: 1.5em;

@mixin center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin skill-item {
    width: 90%;
    border: double black 4px;

    .skill-item-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.15em 0;
        font-size: $info-text;

        .skill-item-modifier-input {
            width: 1.5em;
            margin: 0 0.8em 0 0.15em;
        }
    }
    
    .skill-container-title {
        @include center-row;
        width: 100%;
    }
}

input {
    border-radius: $input-border-rad;
    background-color: lightgrey;
    text-align: center;
    &:hover {
        box-shadow: 0 0 0 1px black;
    }
}


html {
    @include center-column;
    background: rgb(131, 130, 130);
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 0;
    max-width: 60em;
    min-width: 60em;
    height: auto;
    margin-top: 2em;
}

#title-bar-container {
    @include center-row;
    width: 100%;
    height: 10em;

    .character-name-container {
        @include center-column;
        height: 100%;
        min-width: 40%;

        .character-name-input {
            height: 3em;
            width: 80%;
        }
    }
    
    .player-info-container {
        @include center-row;
        min-width: 60%;
        display: flex;
        flex-wrap: wrap;

        .player-info-input-container {
            padding: .05em 0.25em;
        }

        .player-info-input {
            height: 2.5em;
            width: 12em;
        }
        
        .player-info-text {
            font-size: $info-text;
        }
    }
}

#stats-column-container {
    display: flex;
    justify-content: flex-start;
    background-color: lightgreen;

    #ability-scores-column-container {
        @include center-column;
        width: 15%;
        background-color: lightcoral;

        .ability-score-container {
            @include center-column;
            background-color: white;
            font-size: $info-text;
            border: solid black 1px;
            margin: 0.5em 0em;
            padding: 0.25em;
            border-radius: 1em;
        }

        .ability-score-modifier-input {
            height: 2.5em;
            width: 4em;
            margin: 0.5em;
            font-size: $heading-text;
        }

        .ability-score-input {
            margin-top: -5px;
            font-size: $info-text;
            height: 2em;
            width: 4em;
            border: solid black 1px;
        }
    }

    #skills-column-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: lightgoldenrodyellow;

        .flag-info-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: solid black 2px;
            padding: 0.25em;
            font-size: $info-text;
            width: 15em;
            margin: 0.25em 0.5em;

            .flag-info-input {
                height: 2em;
                width: 2em;
            }

            .flag-info-text-container {
                @include center-row;
                width: 100%;
                height: 100%;
            }
        }

        .saving-throw-container {
            @include skill-item;
        }

        .skill-container {
            margin-top: 1em;
            @include skill-item;
        }
    }
}



