$input-border-rad: .25em;

@mixin center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    @include center-column;
    background: black;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 0;
    max-width: 60em;
    min-width: 60em;
    height: 100%;
    margin-top: 2em;
}

.title-bar-container {
    @include center-row;
    width: 100%;
    height: 10em;
}

.character-name-container {
    @include center-column;
    height: 100%;
    min-width: 40%;
}

.character-name-input {
    border-radius: $input-border-rad;
    height: 3em;
    width: 80%;
}

.player-info-container {
    @include center-row;
    min-width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.player-info-input-container {
    padding: .05em 0.25em;
}

.player-info-input {
    border-radius: $input-border-rad;
    height: 2.5em;
    width: 12em;
}

.player-info-text {
    font-size: 0.8em;
}